@font-face{
	font-family: 'Kayak Sans Bold';
	src: url("Fonts/kayak-sans-family/Kayak Sans Bold.otf");
	font-weight: bold;
}

@font-face{
	font-family: 'Kayak Sans Regular';
	src: url("Fonts/kayak-sans-family/Kayak Sans Regular.otf");
	font-weight: normal;
}

@font-face{
	font-family: 'Kayak Sans Light';
	src: url("Fonts/kayak-sans-family/Kayak Sans Light.otf");
	font-weight: lighter;
}


body{
	margin: 0px;
}

.header{
	height: 600px;
	width: 100%;
	background-image: url(img/Sliced-Onion.png), url(img/green.png), url(img/salat.png); 
	background-repeat: no-repeat; 
	background-size: 15%, 6%, 80%; 
	background-position: 47% 85%, 47% 60%, top right;
	background-color: #f4f5f7; 
}

.content-shape{
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.main-content{
	padding-top: 8%;
	padding-left: 3%;
}

h1{
	font-family: 'Kayak Sans Bold';
	font-size: 320%;
	width: 37%;
}

.main-content-green{
	color: #5fb709;
}

.main-content-p{
	font-family: 'Kayak Sans Regular';
	font-size: 135%;
	opacity: 0.8;
}

.main-content-a{
	font-size: 150%;
	font-family: 'Kayak Sans Bold';
	background-color: #6ece0f;
	color: #fff;
	display: flex;
	align-items: center;
	width: 18%;
	height: 70px;
	margin-top: 50px; 
	border-radius: 10px;
}

.main-content-a a{
	margin: 0 auto;
	color: #fff;
	text-decoration: none;
}

.sign-up{
	font-size: 120%;
	font-family: 'Kayak Sans Bold';
	background-color: #6ece0f;
	color: #fff;
	width: 10%;
	height: 50px;
	display: flex;
	align-items: center;
	float: right;
	margin-top: 2%;
	margin-right: 2%;
	border-radius: 10px;
}

.sign-up a {
	margin: 0 auto;
	color: #fff;
	text-decoration: none;
}



.find-food{
	height: 550px;
	width: 100%;
	background-image: url('img/find-food-main.png'), url('img/find-food-green.png'); 
	background-repeat: no-repeat;
	background-size: 30% 80%, 10%;
	background-position: 10% center, 75% 5%;
}

.find-food-content{
	padding: 8% 0px 0px 40%;
}

.find-food-content h2{
	font-family: 'Kayak Sans Bold';
	font-size: 300%;
	width: 100%;
}

.find-food-content input{
	font-family: 'Kayak Sans Regular';
	font-size: 150%;
	padding: 3% 14% 3% 3%;
	border-radius: 10px;
	border-color: #9b9a9a;
	border-size:1px;
}

.find-food-content a{
	font-family: 'Kayak Sans Bold';
	font-size: 150%;
	background-color: #5fb709;
	padding: 3.5% 5%;
	color: #fff;
	border-radius: 10px;
	border-color: #fff; 
	text-decoration: none;
}





.local-restaurants{
	width: 100%;
	height: 550px;
	background-color: #f4f5f7;
	background-image: url('img/broken-egg.png'), url('img/green-line.png'), url('img/green-line-1.png'), url('local-restaurants-salat.png'), url('img/local-restaurants-mobile.png');
	background-repeat: no-repeat;
	background-position: 95% 5%, 17% 10%, 17% 13%, 100% 0%, 75% 30% ;
	background-size: 15%, 10%, 10%, 10%, 25% 70% ;
	padding-top: 15%;
}

.local-restaurants h2{
	font-family: 'Kayak Sans Bold';
	font-size: 300%;
	width: 60%;
	margin: 0;
}

.local-restaurants a{
	font-family: 'Kayak Sans Bold';
	font-size: 150%;
	max-width: 100px;
	background-color: #5fb709;
	padding: 2% 4%;
	color: #fff;
	border-radius: 10px;
	border-color: #fff; 
	text-decoration: none;
	display: block;
	margin: 50px 0px 0px 0px;
}










.place-order{
	width: 100%;
	height: 650px;
	background-image: url('img/place-order-salat.png'), url('img/place-order-mushroom.png'), url('img/place-order-img.png'), url('img/green-line.png'), url('img/green-line.png');
	background-repeat: no-repeat;
	background-size: 100%, 14%, 14%, 9%, 9%;
	background-position: 0% 0%, 70% 0%, 100% 50%, 50% 80%, 50% 83%;
}

.place-order-content{
	font-family: 'Kayak Sans Bold';
	font-size: 150%;
	width: 50%;
	padding: 20% 0px 0px 40%;
}







.track-your-food{
	width: 100%;
	height: 650px;
	background-color: #f1f2f4;
	background-image: url('img/track-food-mobile.png'), url('img/track-food-1.png'), url('img/track-food-2.png'), url('img/track-food-sauce.png'), url('img/track-food-road.png');
	background-repeat: no-repeat;
	background-size: 20%, 15%, 15%, 15%, 100%;
	background-position: 70% 10%, 15% 70%, 35% 85%, 40% 0%, 0% 10%;
}

.track-your-food-content{
	font-family: 'Kayak Sans Bold';
	font-size: 194%;
	width: 50%;
	padding-top: 9%;
}






.get-app{
	width: 100%;
	height: 800px;
	background-color: #f8f8fa;
	background-image: url('img/get-app-main.png'), url('img/get-app-salat.png'), url('img/get-app-shape.png'), url('img/get-app-branch.png'), url('img/green-line.png'), url('img/green-line.png');
	background-repeat: no-repeat;
	background-position: -10% -40%, 95% 3%, 65% 70%, 100% 65%, 40% 10%, 40% 12%;
	background-size: 100%, 15%, 13%, 7%, 7%, 7%;
}

.get-app-content{
	height: 25%;
	font-family: 'Kayak Sans Bold';
	font-size: 180%;
	padding-top: 15%;
	padding-left: 57%;
	background-image: url('img/app-store.png'), url('img/google-play.png'), url('img/ap-icon.png');
	background-position: 64% 100%, 50% 100%, 50% 78%;
	background-size: 10%, 10%, 10%;
	background-repeat: no-repeat;
}









.services{
	width: 100%;
	height: 500px;
	background-color: #edeef0;
}

.container{
	width: 75%;
	margin: 0 auto;
}

.services-content{
	display: flex;

}

.services-item{
	display: block;
	padding-top: 15%;
	width: 50%;
}


.service-name{
	font-family: 'Kayak Sans Bold';
	font-size: 230%;
}

.service-text{
	font-family: 'Kayak Sans Regular';
	font-size: 120%;
	width: 100%;
}

.service-button{
	font-family: 'Kayak Sans Bold';
	font-size: 150%;
	background-color: #5fb709;
	padding: 20px 40px;
	color: #fff;
	border-radius: 10px;
	border-color: #fff; 
	text-decoration: none;
	margin-top: 40px;
	display: block;
	width: 120px;
}

.line{
	position: absolute;
	left: 49%;
	right: 51%;
	background-color: #b7b7b7;
	width: 2px;
	height: 380px;
	margin-top: 7%;
}

.item-1{
	background-image: url('img/service-item-1.png');
	background-repeat: no-repeat;
	background-position: 0px 100px;
}

.item-2{
	background-image: url('img/service-item-2.png');
	background-repeat: no-repeat;
	background-position: 0px 100px;
	margin-left: 10%;
}











.footer{
	background-color: #262626;
	height: 300px;
	padding-top: 150px;
}

.footer-content{
	border-top: 1px solid #3d3d3d;
	display: flex;
}

.footer-content-main{
	display: flex;
}






.footer-left{
	width: 20%;
}

.language{
	display: flex;
	width: 50%;
	border-bottom: 1px solid #3d3d3d;
	height: 40px;
	margin-top: 20px;
}

.footer-left p{
	color: #fff;
	font-family: 'Kayak Sans Regular';

}

.img-1{
	margin-top: 10px;
	margin-right: 10px;
}

.img-2{
	margin-top: 21px;
	margin-left: 30px;
}


.soc{
	margin-left: -20px;
	margin-top: 10px;
}


.company{
	font-family: 'Times New Roman';
	font-weight: 400;
	font-size: 16px;
	opacity: 0.2;
	margin-top: 150px;
}




.columns{
	display: flex;
	width: 50%;
}

.column{
	display: flex;
	flex-direction: column;
	font-family: 'Kayak Sans Light';
	margin-left: 50px;
}

.column a{
	text-decoration: none;
	color: #fff; 
	margin-top: 30px;
}




.apps{
	float: right;
	margin-top: 15px;
	margin-left: 20px;
}

.apps-text{
	font-family: 'Kayak Sans Regular';
	font-size: 16px;
	color: #fff;
}

.apps-images{
	display: flex;
	margin-top: 10px;
	width: 100%;
}

.apps-images img{
	margin-right: 10px;
}










@media (min-width: 2559px){
	.header{
		height: 1000px;
	}

	h1{
		font-size: 500%;
	}

	.main-content-p{
		font-size: 300%;
	}

	.main-content-a{
		height: 150px;
		font-size: 300%;
	}

	.sign-up{
		font-size: 200%;
		height: 100px;
	}

	.find-food{
		height: 800px;
	}

	.find-food-content h2{
		font-size: 400%;
	}

	.find-food-content input{
		font-size: 250%;
	}

	.find-food-content a{
		font-size: 250%;
	}

	.local-restaurants{
		background-size: 15%, 10%, 10%, 10%, 25% 90% ;
	}

	.local-restaurants h2{
		font-size: 550%;
	}

	.local-restaurants a{
		font-size: 300%;
		max-width: 200px;
	}

	.place-order{
		height: 1000px;
	}

	.place-order-content{
		font-size: 400%;
	}

	.track-your-food{
		height: 1000px;
		background-position: 70% 10%, 15% 95%, 35% 105%, 40% 0%, 0% 10%;
	}

	.track-your-food-content{
		font-size: 300%;
	}

	.get-app{
		height: 1400px;
		background-position: -10% 160%, 95% 3%, 65% 70%, 100% 65%, 40% 10%, 40% 12%;
	}

	.get-app-content{
		font-size: 300%;
	}

	.services{
		height: 600px;
	}

	.service-name{
		font-size: 400%;
	}

	.services-item{
		padding-top: 120px;
	}

	.service-text{
		font-size: 200%;
	}

	.service-button{
	font-size: 200%;
	width: 150px;
	}

	




	.img-1{
	width: 40px;
	height: 40px;
	margin:0px;
	}

	.img-2{
		width: 10px;
		height: 10px;
	}

	.footer-left p{
		font-size: 30px;
		margin:5px 5px;
	}

	.soc{
	margin-left: -20px;
	margin-top: 20px;
	width: 200px;
	}

	.company{
	font-family: 'Times New Roman';
	font-weight: 400;
	font-size: 16px;
	opacity: 0.2;
	padding-top: 100px;
	}

	.column{
		width: 33.333%;
	}

	.column a{
	margin-top: 25px;
	font-size: 25px;
	}

	.apps-text{
	font-size: 30px;
	}

	.apps-images img{
	margin-top: 20px;
	margin-right: 50px;
	width: 150px;
	}


}







@media (max-width: 1025px){
	.header{  
	background-position: 47% 55%, 48% 42%, top right; 
	}

	.track-your-food-content{
	font-family: 'Kayak Sans Bold';
	font-size: 170%;
	width: 50%;
	padding-top: 9%;
	}

	.get-app-content{
	font-size: 170%;
	padding-top: 25%;
	}

	.services-item{
		padding-top: 20%;
	}

	.service-name{
	font-family: 'Kayak Sans Bold';
	font-size: 200%;
	}

.service-text{
	font-family: 'Kayak Sans Regular';
	font-size: 90%;
	width: 100%;
	}

.service-button{
	font-family: 'Kayak Sans Bold';
	font-size: 120%;
	background-color: #5fb709;
	padding: 15px 30px;
	color: #fff;
	border-radius: 10px;
	border-color: #fff; 
	text-decoration: none;
	margin-top: 40px;
	display: block;
	width: 100px;
	}
}







@media (max-width: 769px){
	.header{
		height: 350px;
		width: 100%;
		background-image: url(img/Sliced-Onion.png), url(img/green.png), url(img/salat.png); 
		background-repeat: no-repeat; 
		background-size: 15%, 6%, 80%; 
		background-position: 47% 85%, 47% 60%, top right;
		background-color: #f4f5f7; 
	}

	.main-content{
		padding-top: 8%;
		padding-left: 3%;
	}

	h1{
		font-family: 'Kayak Sans Bold';
		font-size: 200%;
		width: 37%;
	}

	.main-content-p{
		font-family: 'Kayak Sans Regular';
		font-size: 80%;
		opacity: 0.8;
	}

	.main-content-a{
		font-size: 100%;
		font-family: 'Kayak Sans Bold';
		background-color: #6ece0f;
		color: #fff;
		display: flex;
		align-items: center;
		width: 18%;
		height: 50px;
		margin-top: 50px; 
		border-radius: 10px;
	}

	.main-content-a a{
		margin: 0 auto;
		color: #fff;
		text-decoration: none;
	}

	.sign-up{
		font-size: 80%;
		font-family: 'Kayak Sans Bold';
		background-color: #6ece0f;
		color: #fff;
		width: 10%;
		height: 40px;
		display: flex;
		align-items: center;
		float: right;
		margin-top: 2%;
		margin-right: 2%;
		border-radius: 10px;
	}

	.sign-up a {
		margin: 0 auto;
		color: #fff;
		text-decoration: none;
	}

	.find-food{
		height: 300px;
		width: 100%;
		background-image: url('img/find-food-main.png'), url('img/find-food-green.png'); 
		background-repeat: no-repeat;
		background-size: 30% 80%, 10%;
		background-position: 10% center, 75% 5%;
	}

	.find-food-content{
		padding: 8% 0px 0px 40%;
	}

	.find-food-content h2{
		font-family: 'Kayak Sans Bold';
		font-size: 200%;
		width: 100%;
	}

	.find-food-content input{
		font-family: 'Kayak Sans Regular';
		font-size: 100%;
		padding: 3% 14% 3% 3%;
		border-radius: 10px;
		border-color: #9b9a9a;
		border-size:1px;
	}

	.find-food-content a{
		font-family: 'Kayak Sans Bold';
		font-size: 100%;
		background-color: #5fb709;
		padding: 3.5% 5%;
		color: #fff;
		border-radius: 10px;
		border-color: #fff; 
		text-decoration: none;
	}	

	.local-restaurants{
		width: 100%;
		height: 300px;
		background-color: #f4f5f7;
		background-image: url('img/broken-egg.png'), url('img/green-line.png'), url('img/green-line-1.png'), url('local-restaurants-salat.png'), url('img/local-restaurants-mobile.png');
		background-repeat: no-repeat;
		background-position: 95% 5%, 17% 10%, 17% 13%, 100% 0%, 75% 40% ;
		background-size: 15%, 10%, 10%, 10%, 23% 80% ;
		padding-top: 15%;
	}

	.local-restaurants h2{
		font-family: 'Kayak Sans Bold';
		font-size: 200%;
		width: 60%;
		margin: 0;
	}

	.local-restaurants a{
		font-family: 'Kayak Sans Bold';
		font-size: 100%;
		width: 70px;
		background-color: #5fb709;
		padding: 2% 2%;
		color: #fff;
		border-radius: 10px;
		border-color: #fff; 
		text-decoration: none;
		display: block;
		margin: 50px 0px 0px 0px;
	}

	.place-order{
		width: 100%;
		height: 350px;
		background-image: url('img/place-order-salat.png'), url('img/place-order-mushroom.png'), url('img/place-order-img.png'), url('img/green-line.png'), url('img/green-line.png');
		background-repeat: no-repeat;
		background-size: 100%, 14%, 14%, 9%, 9%;
		background-position: 0% 0%, 70% 0%, 100% 50%, 50% 80%, 50% 83%;
	}

	.place-order-content{
		font-family: 'Kayak Sans Bold';
		font-size: 100%;
		width: 50%;
		padding: 20% 0px 0px 40%;
	}

	.track-your-food{
		width: 100%;
		height: 400px;
		background-color: #f1f2f4;
		background-image: url('img/track-food-mobile.png'), url('img/track-food-1.png'), url('img/track-food-2.png'), url('img/track-food-sauce.png'), url('img/track-food-road.png');
		background-repeat: no-repeat;
		background-size: 20%, 15%, 15%, 15%, 100%;
		background-position: 70% 10%, 15% 70%, 35% 85%, 40% 0%, 0% 10%;
	}

	.track-your-food-content{
		font-family: 'Kayak Sans Bold';
		font-size: 110%;
		width: 50%;
		padding-top: 9%;
	}

	.get-app{
		width: 100%;
		height: 500px;
		background-color: #f8f8fa;
		background-image: url('img/get-app-main.png'), url('img/get-app-salat.png'), url('img/get-app-shape.png'), url('img/get-app-branch.png'), url('img/green-line.png'), url('img/green-line.png');
		background-repeat: no-repeat;
		background-position: -10% -40%, 95% 3%, 65% 70%, 100% 65%, 40% 10%, 40% 12%;
		background-size: 100%, 15%, 13%, 7%, 7%, 7%;
	}

	.get-app-content{
		height: 25%;
		font-family: 'Kayak Sans Bold';
		font-size: 100%;
		padding-top: 20%;
		padding-left: 57%;
		background-image: url('img/app-store.png'), url('img/google-play.png'), url('img/ap-icon.png');
		background-position: 64% 100%, 50% 100%, 50% 78%;
		background-size: 10%, 10%, 10%;
		background-repeat: no-repeat;
	}

	.services{
		height: 400px;
	}

	.service-name{
		font-size: 150%;
	}

	.services-item{
		padding-top: 90px;
		width: 100%;
	}

	.service-text{
		font-size: 120%;
	}

	.service-button{
		font-size: 100%;
		width: 75px;
	}

	.item-1{
		background-image: url('img/service-item-1.png');
		background-repeat: no-repeat;
		background-position: 0px 40px;
	}

	.item-2{
		background-image: url('img/service-item-2.png');
		background-repeat: no-repeat;
		background-position: 0px 40px;
		margin-left: 10%;
	}

	.line{
		height: 300px;
	}

	.footer{
		background-color: #262626;
		height: 250px;
		padding-top: 100px;
	}

	.footer-content{
		border-top: 1px solid #3d3d3d;
		display: flex;
	}

	.footer-content-main{
		display: flex;
	}

	.footer-left{
		width: 20%;
	}

	.language{
		display: flex;
		width: 50%;
		border-bottom: 1px solid #3d3d3d;
		height: 40px;
		margin-top: 20px;
	}

	.footer-left p{
		color: #fff;
		font-family: 'Kayak Sans Regular';

	}

	.img-1{
		margin-top: 10px;
		margin-right: 10px;
	}

	.img-2{
		margin-top: 21px;
		margin-left: 30px;
	}


	.soc{
		margin-left: -20px;
		margin-top: 10px;
	}


	.company{
		font-family: 'Times New Roman';
		font-weight: 400;
		font-size: 16px;
		opacity: 0.2;
		margin-top: 150px;
	}

	.columns{
		display: flex;
		width: 50%;
	}

	.column{
		display: flex;
		flex-direction: column;
		font-family: 'Kayak Sans Light';
		margin-left: 50px;
	}

	.column a{
		text-decoration: none;
		color: #fff; 
		margin-top: 30px;
	}

	.apps{
		float: right;
		margin-top: 15px;
		margin-left: 20px;
	}

	.apps-text{
		font-family: 'Kayak Sans Regular';
		font-size: 16px;
		color: #fff;
	}

	.apps-images{
		display: flex;
		margin-top: 10px;
		width: 100%;
	}

	.apps-images img{
		margin-right: 10px;
	}			
}







@media (max-width: 769px){
	.header{
		height: 200px;
		width: 100%;
		background-image: url(img/Sliced-Onion.png), url(img/green.png), url(img/salat.png); 
		background-repeat: no-repeat; 
		background-size: 15%, 6%, 80%; 
		background-position: 47% 85%, 47% 60%, top right;
		background-color: #f4f5f7; 
	}

	.main-content{
		padding-top: 8%;
		padding-left: 3%;
	}

	h1{
		font-family: 'Kayak Sans Bold';
		font-size: 100%;
		width: 37%;
	}

	.main-content-p{
		font-family: 'Kayak Sans Regular';
		font-size: 40%;
		opacity: 0.8;
	}

	.main-content-a{
		font-size: 50%;
		font-family: 'Kayak Sans Bold';
		background-color: #6ece0f;
		color: #fff;
		display: flex;
		align-items: center;
		width: 18%;
		height: 30px;
		margin-top: 20px; 
		border-radius: 10px;
	}

	.main-content-a a{
		margin: 0 auto;
		color: #fff;
		text-decoration: none;
	}

	.sign-up{
		font-size: 40%;
		font-family: 'Kayak Sans Bold';
		background-color: #6ece0f;
		color: #fff;
		width: 10%;
		height: 20px;
		display: flex;
		align-items: center;
		float: right;
		margin-top: 2%;
		margin-right: 2%;
		border-radius: 5px;
	}

	.sign-up a {
		margin: 0 auto;
		color: #fff;
		text-decoration: none;
	}

	.find-food{
		height: 150px;
		width: 100%;
		background-image: url('img/find-food-main.png'), url('img/find-food-green.png'); 
		background-repeat: no-repeat;
		background-size: 30% 80%, 10%;
		background-position: 10% center, 75% 5%;
	}

	.find-food-content{
		padding: 8% 0px 0px 40%;
	}

	
	.find-food-content h2{
		font-family: 'Kayak Sans Bold';
		font-size: 100%;
		width: 100%;
	}

	.find-food-content input{
		font-family: 'Kayak Sans Regular';
		font-size: 50%;
		padding: 3% 14% 3% 3%;
		border-radius: 10px;
		border-color: #9b9a9a;
		border-size:1px;
	}

	.find-food-content a{
		font-family: 'Kayak Sans Bold';
		font-size: 50%;
		background-color: #5fb709;
		padding: 3.5% 5%;
		color: #fff;
		border-radius: 5px;
		border-color: #fff; 
		text-decoration: none;
	}	

	.local-restaurants{
		width: 100%;
		height: 150px;
		background-color: #f4f5f7;
		background-image: url('img/broken-egg.png'), url('img/green-line.png'), url('img/green-line-1.png'), url('local-restaurants-salat.png'), url('img/local-restaurants-mobile.png');
		background-repeat: no-repeat;
		background-position: 95% 5%, 17% 10%, 17% 13%, 100% 0%, 75% 40% ;
		background-size: 15%, 10%, 10%, 10%, 23% 80% ;
		padding-top: 15%;
	}

	.local-restaurants h2{
		font-family: 'Kayak Sans Bold';
		font-size: 100%;
		width: 60%;
		margin: 0;
	}

	.local-restaurants a{
		font-family: 'Kayak Sans Bold';
		font-size: 50%;
		width: 35px;
		background-color: #5fb709;
		padding: 2% 2%;
		color: #fff;
		border-radius: 5px;
		border-color: #fff; 
		text-decoration: none;
		display: block;
		margin: 20px 0px 0px 0px;
	}

	.place-order{
		width: 100%;
		height: 200px;
		background-image: url('img/place-order-salat.png'), url('img/place-order-mushroom.png'), url('img/place-order-img.png'), url('img/green-line.png'), url('img/green-line.png');
		background-repeat: no-repeat;
		background-size: 100%, 14%, 14%, 9%, 9%;
		background-position: 0% 0%, 70% 0%, 100% 50%, 50% 80%, 50% 83%;
	}

	.place-order-content{
		font-family: 'Kayak Sans Bold';
		font-size: 65%;
		width: 50%;
		padding: 20% 0px 0px 40%;
	}

	.track-your-food{
		width: 100%;
		height: 230px;
		background-color: #f1f2f4;
		background-image: url('img/track-food-mobile.png'), url('img/track-food-1.png'), url('img/track-food-2.png'), url('img/track-food-sauce.png'), url('img/track-food-road.png');
		background-repeat: no-repeat;
		background-size: 20%, 15%, 15%, 15%, 100%;
		background-position: 70% 10%, 15% 70%, 35% 85%, 40% 0%, 0% 10%;
	}

	.track-your-food-content{
		font-family: 'Kayak Sans Bold';
		font-size: 70%;
		width: 50%;
		padding-top: 9%;
	}

	.get-app{
		width: 100%;
		height: 250px;
		background-color: #f8f8fa;
		background-image: url('img/get-app-main.png'), url('img/get-app-salat.png'), url('img/get-app-shape.png'), url('img/get-app-branch.png'), url('img/green-line.png'), url('img/green-line.png');
		background-repeat: no-repeat;
		background-position: -10% -40%, 95% 3%, 65% 80%, 100% 65%, 40% 10%, 40% 12%;
		background-size: 100%, 15%, 13%, 7%, 7%, 7%;
	}

	.get-app-content{
		height: 25%;
		font-family: 'Kayak Sans Bold';
		font-size: 50%;
		padding-top: 20%;
		padding-left: 57%;
		background-image: url('img/app-store.png'), url('img/google-play.png'), url('img/ap-icon.png');
		background-position: 64% 100%, 50% 100%, 50% 78%;
		background-size: 10%, 10%, 10%;
		background-repeat: no-repeat;
	}

	.services{
		height: 550px;
	}

	.services-content{
		display: flex;
		flex-direction: column;
	}

	.service-name{
		font-size: 100%;
	}

	.services-item{
		margin-top: 40px;
		width: 100%;
		text-align: center;
	}

	.service-text{
		font-size: 80%;
	}

	.service-button{
		font-family: 'Kayak Sans Bold';
		font-size: 80%;
		background-color: #5fb709;
		padding: 10px 10px;
		color: #fff;
		border-radius: 10px;
		border-color: #fff; 
		text-decoration: none;
		margin-top: 30px;
		display: block;
		max-width: 120px;
		margin: 0 auto;
}

	.item-1{
		background-image: url('img/service-item-1.png');
		background-repeat: no-repeat;
		background-position: 47% 10px;
	}

	.item-2{
		background-image: url('img/service-item-2.png');
		background-repeat: no-repeat;
		background-position: 47% 10px;
		margin-left: 0px;
	}

	.line{
		height: 0px;
	}

	.footer{
		background-color: #262626;
		height: 650px;
		padding-top: 70px;
	}

	.footer-content{
		border-top: 1px solid #3d3d3d;
		display: flex;
	}

	.footer-content-main{
		display: flex;
		flex-direction: column;
	}

	.footer-left{
		text-align: center;
		width: 100%;
	}

	.language{
		display: flex;
		width: 50%;
		border-bottom: 1px solid #3d3d3d;
		height: 40px;
		margin-top: 20px;
		margin: 20px auto 0px auto;
		padding-left: 60px;
	}

	.footer-left p{
		color: #fff;
		font-family: 'Kayak Sans Regular';

	}

	.img-1{
		margin-top: 10px;
		margin-right: 10px;
	}

	.img-2{
		margin-top: 21px;
		margin-left: 30px;
	}


	.soc{
		margin-left: -20px;
		margin-top: 10px;
	}


	.company{
		font-family: 'Times New Roman';
		font-weight: 400;
		font-size: 16px;
		opacity: 0.2;
		margin-top: 50px;
	}

	.columns{
		display: flex;
		width: 50%;
	}

	.column{
		display: flex;
		flex-direction: column;
		font-family: 'Kayak Sans Light';
		margin-left: 60px;
	}

	.column a{
		text-decoration: none;
		color: #fff; 
		margin-top: 30px;
	}

	.apps{
		float: right;
		margin-top: 15px;
		margin-left: 20px;
	}

	.apps-text{
		font-family: 'Kayak Sans Regular';
		font-size: 16px;
		color: #fff;
	}

	.apps-images{
		display: flex;
		margin-top: 10px;
		width: 100%;
	}

	.apps-images img{
		margin-right: 10px;
	}			
}