    .div{
        background-color:#5fb709;
    }

    h2{
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

    }

    .form {
        width: 90%;
        max-width: 600px;
        z-index: 15;
        position: relative;
        background: #FFFFFF;
        width: 900px;
        border-radius: 4px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        margin: 100px auto 10px;
        overflow: hidden;
        padding:50px;

    }


  .form-group label {
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
  }

  .form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
  }

  #button{
    outline: none;
    /* background: #4285F4; */
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .form {
      width: 80%;
      margin: 50px auto 10px;
    }

    .form-group input {
      padding: 8px;
    }

    #button {
      padding: 10px 16px;
    }
  }

  /* Additional styles for even smaller screens */
  @media (max-width: 576px) {
    .form {
      width: 90%;
    }

    .form-group input {
      padding: 6px;
    }

    #button {
      padding: 8px 14px;
    }
  }

.providers{
  padding-bottom: 50px;
}
