<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet">
	<meta name="viewport" content="width=device-width">
</head>
<body>
	<div class="header">
		<div class="content-shape">
			<div class="sign-up">
				<a href="#">
					Sign up
				</a>
			</div>

			<div class="main-content">
				<h1>
				There is no Sincerer
				Love than the <span class="main-content-green">love
				of food.</span>
				</h1>

				<p class="main-content-p">
				Welcome to Koshai delivery service!
				</p>

				<div class="main-content-a">
					<a href="#">Place an Order</a>
				</div>
			</div>
		</div>
	</div>

	<div class="find-food">
		<div class="content-shape">
			<div class="find-food-content">
				<h2>
					Discover  restaurants that <span class="main-content-green">deliver near you.</span>
				</h2>

				<input type="text" name="find-food" placeholder="Enter your delivery address">

				<a href="#">
					Find Food
				</a>
			</div>


		</div>

	</div>

	</div>

	<div class="place-order">
		<div class="content-shape">
			<div class="place-order-content">
				<h2>
					Tap to place your order and pay with your <span class="main-content-green">Wallet(Google Pay, Kaspi kz).</span>
				</h2>
			</div>

		</div>

	</div>

	<div class="services">
		<div class="container">
			<div class="services-content">
				<div class="services-item item-1">
					<h2 class="service-name main-content-green">
						Your restaurant, delivered
					</h2>

					<p class="service-text">
						Partner with Uber Eats for a new way to make money,<br>
						reach new diners and deliver food to<br>
						your customers.
					</p>

					<a href="#" class="service-button">
						Get Started
					</a>
				</div>

				<div class="line">

				</div>

				<div class="services-item item-2">
					<h2 class="service-name main-content-green">
						Deliver the Eats
					</h2>

					<p class="service-text">
						Deliver with Uber and earn on your schedule. Depending<br>
						on your city, you could deliver with your car, bike<br>
						or scooter.
					</p>

					<a href="#" class="service-button">
						Get Started
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="footer-content">
			<div class="content-shape">
				<div class="footer-content-main">
				<div class="footer-left">
					<div class="language">
						<img src="{% static "css/img/globus.png" %}" width="20px" height="20px" class="img-1">
						<p>English</p>
						<img src="{% static "css/img/chevron-arrow-down.png" %}" width="7px" height="7px" class="img-2">
					</div>

					<img src="{% static "css/img/soc.png" %}" class="soc">

					<p class="company">© 2023 Koshai Technologies Inc</p>
				</div>

				<div class="columns">
					<div class="c-1 column">
						<a href="">About Koshai Eats</a>
						<a href="">Become a Delivery Partner</a>
						<a href="">Become a Restaurant Partner</a>
					</div>

					<div class="c-2 column">
						<a href="">See all cities</a>
						<a href="">Pricing</a>
						<a href="">Help</a>
						<a href="">FAQs</a>
						<a href="">Blog</a>
					</div>

					<div class="c-3 column">
						<a href="">Blog</a>
						<a href="">Privacy</a>
						<a href="">Terms</a>
					</div>
				</div>

				<div class="apps">
					<p class="apps-text">Download Koshai Eates App From :</p>
					<div class="apps-images">
						<img src="{% static "css/img/google-play.png" %}" width="100px">
						<img src="{% static "css/img/app-store.png" %}" width="100px">
					</div>
				</div>
			</div>
		</div>
	</div>



</body>
</html>
